body{
    background: url("../images/escheresque.png");
    min-height: 100%;
}

header{
    position: relative;
    border-bottom: 2px #cccccc solid;
    height: 80px;
    background-color: white;
}

.wrapper{
    position: absolute;
    min-height: 100%;
    width: 100%;

}

#nameContainer{
    position: absolute;
    background-color: #4aaaa5;
    left: 10%;
    width: 250px;
    height: 100%;
    text-align: center;
}

#nameContainer:hover{
    background-color: cornflowerblue;
}

#nameText{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 27px;
}

#navigationMenu{
    position: absolute;
    list-style-type: none;
    padding-top: 30px;
    margin: 0 10px 0 10px;
    left: 64%;
}

.headLinks{
    position: relative;
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

li a{
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

a:hover{
    color: #4aaaa5;
}

#portfolio{
    border-left: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
}

.headingContainer{
    padding: 25px 0 20px 0;
    border-bottom: 2px #CCCCCC solid;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    color: #4aaaa5;
}

.mainDiv{
    float: left;
    position: relative;
    margin-top: 40px;
    padding: 0 25px 0 25px;
    left: 10%;
    width: 550px;
    border: 2px solid #CCCCCC;
    background-color: white;
    z-index: 1;
}

#portfolioDiv{
    padding: 0 25px 15px 25px;
}

#headshot {
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    height: 150px;
    width: 190px;
    border: 1px solid #CCCCCC;
}

.profileImg{
    width: 244px;
    height: 190px;
    margin: 15px 10px 5px 15px;
    border: 2px solid white;
}

.profileImg:hover{
    border: 2px solid #4aaaa5;
}

.writtenBio{
    position: relative;
    margin: 10px 10px 10px 0;
    line-height: 185%;
    color: #777777;
}

form{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.textBox{
    color: #AEA9AE;
    width: 99%;
    margin: 5px 0 10px 0;
    padding: 3px 0 3px 4px;
}

.textBox:only-of-type{
    height: 190px;
}

button{
    border: none;
    background-color: #4aaaa5;
    color: white;
    display: block;
    height: 35px;
    width: 110px;
    font-size: 15px;
}

button:hover{
    background-color: #3B8884;
}

.headerExample{
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 244px;
    height: 50px;
    bottom: 75px;
    background-color: #4aaaa5;
    padding: 0;
    margin: 0;
    left: 17px;
    top: 140px;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
}

.headerExample:hover{
    background-color: cornflowerblue;
}

#connect{
    float: left;
    position: absolute;
    margin-top: 40px;
    width: 230px;
    right: 16%;
    border: 2px solid #CCCCCC;
    background-color: white;
}

#connectHeader{
    margin: 0 25px 0 25px;
    padding: 25px 0 20px 0;
    font-weight: normal;
    font-size: 22px;
}

a{
    text-decoration: none;
}

.imgContainer {
    position: relative;
    width: 270px;
    height: 215px;
    float: left;
}

.icons_container{
    margin-left: 12px;
}

.socialMedia{
    height: 50px;
    width: 50px;
    position: relative;
    margin: 15px 8px 10px 8px;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

.socialMedia:hover{
    border-bottom-color: #4aaaa5;
}

.push{
    clear: both;
    position: relative;
    height: 100px;
}

footer{
    position: relative;
    clear: both;
    width: 100%;
    background-color: #666666;
    height: 80px;
    justify-content: center;
    text-align: center;
    border-top: 6px solid #4aaaa5;
}

h3:only-child{
    color: white;
    margin-top: 30px;
}

@media screen and (max-width: 1115px){

    #connect{
        right: 4%;
    }

}

@media screen and (max-width: 980px){

    .mainDiv{
        float: left;
        width: 31%;
    }

    #connect{
        position: relative;
        right: -16%;
        float: left;
        border: 2px solid #CCCCCC;
    }

    #navigationMenu{
        left: 53%;
    }
    
    .writtenBio{
        clear: both;
    }

    #headshot{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 768px){

    .mainDiv{
        width: 78%;
        float: left;
        margin-bottom: 10px;
    }

    #headshot{
        width: 40%;
        height: 180px;
        margin-bottom: 10px;
    }

    .writtenBio{
        clear: none;
    }
    
    #connect{
        position: relative;
        top: 95%;
        width: 85%;
        left: 10%;
        float: left;
        clear: both;
        border: 2px solid #CCCCCC;
    }

    #navigationMenu{
        left: 46%;
    }

    .imgContainer{
        width: 50%;
    }

}

@media screen and (max-width: 640px){

    .mainDiv{
        left: 5%;
    }

    #connect{
        position: relative;
        top: 97%;
        width: 87%;
        left: 5%;
        float: left;
        clear: both;
        border: 2px solid #CCCCCC;
        text-align: center;
    }

    header{
        height: 160px;
    }

    #nameContainer{
        left:0;
        width: 100%;
        height: 50%;
    }

    #navigationMenu{
        position: absolute;
        list-style-type: none;
        padding-top: 30px;
        margin: 0 10px 0 10px;
        top: 80px;
        width: 100%;
        text-align: center;
        left: 0;
    }

    #headshot{
        width: 100%;
        height: 20%;
    }
    
    .writtenBio{
        clear: both;
    }

    .imgContainer{
        position: relative;
        clear: both;
        left: 10%;
    }

}